body  {
	background-color: #fff;
	margin: 0;
	padding: 0;
	text-decoration: none;
	font-family: Regular;
	box-sizing: border-box;
}

h1, h3, div, p, ul, li {
margin: 0;
padding: 0;
}

.header {
	background-image: url('wave.png');
	height: 435px;
	display: block;
	background-size: cover;
	width: 100%;
	background-repeat: no-repeat;
	background-position: center bottom;
}

.header__in {
	width: 980px;
	margin: 0 auto;
}

.header__nav {
	padding: 20px 0 10px;
	position: relative;
}

.header__logo {
	font-size: 24px;
	font-weight: 700;
	margin-left: -45px;
	display: inline-block;
}

.header__menu {
	position: absolute;
	right: 0;
	left: 0;
	margin: 0 auto;
	width: 600px;
	top: 11px;

}

.header__menu__item {
	list-style-type: none;
	display: inline-block;
	margin: 0 -3px;

}

.header__menu__item a {
	text-transform: uppercase;
	text-decoration: none;
	color: #000;
	font-weight: bold;
	padding: 3px 8px;
}

.header__menu__item a:hover {
	background-color: #00b0ff;
	color: #fff;
}

.header__links {
	position: absolute;
	right: 0;
	top: 10px;
}
.icon {
	display: inline-block;
	margin: 5px;
	height: 36px;
	width: 36px;
}

.icon__fb {
	background-image: url('fb.png');
	
}

.icon__inst {
	background-image: url('inst.png');
	
}

.icon__email {
	background-image: url('email.png');

}

.header__title {
	text-align: center;
	font-style: italic;
	margin: 135px auto;
}

.header__title h1 {
	color: black;
}
.header__title h3 {
	color: white;
}

.header__content {
	background-image: url('bord.png');
	background-size: cover;
	box-shadow: 0 0 20px gray;
	background-repeat: no-repeat;
	height: 375px;
	width: 645px;
	margin: 0 auto;
	position: relative;
}

.header__content__main {
	position: absolute;
	right: 0;
	width: 312px;
}

.header__content__in {
	padding: 30px;
	display: block;
}

.header__content__title {
	font-weight: normal;
	font-size: 16px;
}

.header__content__description {
	text-transform: uppercase;
	font-size: 12px;
	
}

.tabs {
	list-style-type: none;
	border-bottom: 3px solid #ccc;
	color: #838383;
	
	position: relative;
}

/*.tabs::after {
	content: "";
	height: 3px;
	width: 100%;
	background-color: #ccc;
	display: block;
	position: absolute;
	bottom: -3px;
	z-index: 0;

}*/


.tabs__item {
	display: inline-block;
	padding: 4px 0px;
	font-weight: bold;
	margin: 0 5.5px;

}

.tabs__item:first-child {
	margin-left: 0;
}

.tabs__item:nth-child(3) {
	margin-right: 0;

}
.tabs__item-active, .tabs__item:hover{
	/*color: #000;
	content: "";
	height: 3px;
	width: 100%;
	background-color: #00b0ff;
	display: block;
	position: absolute;
	bottom: 0.5px;
	*/
	box-shadow: 0 3px 0 0 #00b0ff;
	z-index: 1;



}


.header__content__text {
	font-size: 14px;
	color: #838383;
	padding: 15px 0 25px;
}

.header__content__price {
	font-weight: bold;
	font-size: 20px;
}

.header__content__button {
	background-color: #00b0ff;
	text-transform: uppercase;
	font-size: 11px;
	padding: 12px 20px;	
	color: white;
}

.header__content__rating {
	list-style: none;

}

